/*==================================
Lists
==================================*/

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*==================================
Buttons
==================================*/

input, button, textarea {
  border-radius: 0;
  padding: 0;
  -webkit-appearance: none;
  outline: 0;
}

/*==================================
LINKS
==================================*/

// Arrow Link

a.arrow_link {
  @include gt-america(medium);
  position: relative;
  opacity: 1;
  transition: opacity .2s ease-in-out;

  &:after {
    margin-left: 5px;
    position: absolute;
    bottom: 2px;
    transition: margin .2s ease-in-out;
  }
}

a.arrow_link:hover {

  opacity: .6;
  
  &:after {
    margin-left: 8px;
  }
}

// Black Arrow

a.arrow_link.black {
  &:after {
    content: url('../img/icons/arrow_right_black.svg');
  }
}

// White Arrow

a.arrow_link.white {
  &:after {
    content: url('../img/icons/arrow_right_white.svg');
  }
}

// Underlined Link

.underlined_link {
  @include gt-america(medium);
  text-decoration: underline;
  cursor: pointer;
  outline: 0;
  transition: all .3s ease-in-out;

  &:hover {
    opacity: .6;
  }
}

/*==================================
Icons
==================================*/

// Social

ul.social_icons {
  margin: 0;
}

ul.social_icons li {
    display: inline-block;
    margin: 0 10px;

    &:first-child {
      margin: 0 10px 0 0;
    }
}

ul.social_icons li a {
  opacity: 1;
  transition: opacity .3s ease-in-out;

  &:hover {
    opacity: .6;
  }
}

ul.social_icons.flush_left li:first-child {
  margin: 0 10px 0 0;
}

ul.social_icons.flush_right {
  text-align: right;

  li:last-child {
    margin: 0 0 0 10px;
  }
}

/*==================================
Thumbnail Block
==================================*/

.thumbnail_block .image_container {
  margin-bottom: 10px;
  position: relative;
  display: block;
}

// Header

header.thumbnail_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

header.thumbnail_header h4 {
  margin-bottom: 0;
}

header.thumbnail_header .left {
  width: 80%;
}

header.thumbnail_header .right {
  width: 20%;
  text-align: right;
}

// Overlay w/ Play Button

.thumbnail_block .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail_block .play_button {
  width: 80px;
}

/*==================================
Plyr Video
==================================*/

// Controls Custmizations

button.plyr__play-large {
  background: $black;
  color: $white;
  border: 0;
  padding: 15px 30px;
  border-radius: 3px;
  transition: all .3s ease-in-out;

  &:hover {
    background: $white;
    color: $black;
  }
}

.plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
  background: transparent !important;

  .plyr__controls button svg {
    fill: $black;
  }
}

.plyr__progress--played, .plyr__volume--display {
  color: $black;
}

.plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
  background: $black;
}

/*==================================
Pagination
==================================*/

.mas_pagination {
  @include gt-america(medium);
  text-align: center;
  padding: 30px 0;
}

.mas_pagination .page-numbers {
  color: $mediumgrey;
  cursor: pointer;
}

.mas_pagination .page-numbers.current {
  color: $black;
}

.mas_pagination .prev:before {
  content: url('../img/icons/arrow_left_black.svg');
}

.mas_pagination .next:before {
  content: url('../img/icons/arrow_right_black.svg');
}