/*==================================
FONT FAMILIES
==================================*/

// Canela

@font-face {
	font-family: 'canela';
	src: url('../fonts/canela/thin/Canela-Thin-Web.eot');
	src: url('../fonts/canela/thin/Canela-Thin-Web.eot?#iefix') format('embedded-opentype'),
	url('../fonts/canela/thin/Canela-Thin-Web.woff2') format('woff2'),
	url('../fonts/canela/thin/Canela-Thin-Web.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	-webkit-font-smoothing: none;
}

// GT America Regular

@font-face {
  font-family: 'gt-america-regular';
  src: url('../fonts/gt-america/regular/GT-America-Expanded-Regular.eot') format('embedded-opentype'),  url('../fonts/gt-america/regular/GT-America-Expanded-Regular.otf')  format('opentype'),
	     url('../fonts/gt-america/regular/GT-America-Expanded-Regular.woff') format('woff'), url('../fonts/gt-america/regular/GT-America-Expanded-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

// GT America Medium

@font-face {
  font-family: 'gt-america-medium';
  src: url('../fonts/gt-america/medium/GT-America-Expanded-Medium.eot') format('embedded-opentype'),  url('../fonts/gt-america/medium/GT-America-Expanded-Medium.otf')  format('opentype'),
	     url('../fonts/gt-america/medium/GT-America-Expanded-Medium.woff') format('woff'), url('../fonts/gt-america/medium/GT-America-Expanded-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*==================================
GENERAL FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	font-size: 16px;
	line-height: 25px;
	font-family: 'canela', serif;
}

p {
	letter-spacing: .5px;
}

body {
	background-color: $white;
	color: $black;
}

h1 {
	font-size: 37px;
	line-height: 44px;
	font-weight: normal;
	font-family: 'canela', serif;

	@include tablet {
		font-size: 30px;
		line-height: 40px;
	}

	@include mobile {
		font-size: 25px;
		line-height: 33px;
	}
}

h1.large {
	font-size: 43px;
	line-height: 50px;

	@include tablet {
		font-size: 30px;
		line-height: 40px;
	}

	@include mobile {
		font-size: 25px;
		line-height: 33px;
	}
}

h2 {
	font-size: 28px;
	line-height: 39px;
	font-weight: normal;
	font-family: 'canela', serif;

	@include tablet {
		font-size: 25px;
		line-height: 35px;
	}

	@include mobile {
		font-size: 18px;
		line-height: 28px;
	}
}

h3 {
	font-size: 24px;
	line-height: 34px;
	font-weight: normal;
	font-family: 'canela', serif;

	@include tablet {
		font-size: 20px;
		line-height: 30px;
	}

	@include mobile {
		font-size: 16px;
		line-height: 23px;
	}
}

h4 {
	@include gt-america(medium);
}

h5 {
	@include gt-america(medium);
	text-transform: none;
}

p, h1, h2, h3, h4, h5 {
	margin: 0px 0px 20px;
}

h1, h2, h3 {
	letter-spacing: .4px;
}

// Bold

b, strong {
    font-weight: bold;
}


a, a:visited, a:active, a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

a {
	transition: color .3s ease-in-out;
}

h5, h4, h3, h2, h1 {
  a {
    opacity: 1;
    transition: opacity .3s ease-in-out;

    &:hover {
      opacity: .6;
    }
  }
}