/*==================================
COLORS
==================================*/

.text_white {
  color: $white;
}

.text_mediumgrey {
  color: $mediumgrey;
}

/*==================================
BACKGROUND
==================================*/

.background_black {
  background-color: $black;
  color: $white;
}

.background_white {
  background-color: $white;
  color: $black;
}

.background_grey {
  background-color: $grey;
}

/*==================================
Header
==================================*/

// Title Header w/ Extra margin

.title_header {
  text-align: center;
  margin-bottom: 50px;

  @include mobile {
    margin-bottom: 30px;
  }
}

.title_header.large {
  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 60px;
  }

  @include mobile {
    margin-bottom: 30px;
  }

}

/*==================================
MARGIN
==================================*/

.margin_bottom_0 {
  margin-bottom: 0px;
}

/*==================================
HEADER
==================================*/

// Header styling for areas with lists of categories/tags
// So the category/tag headers align

.inline_header {
  width: 100px;
  display: inline-block;

  @include tablet {
    display: block;
    width: auto;
  }
}

/*==================================
FONTS
==================================*/

.uppercase {
  text-transform: uppercase;
}

.normal_case {
  text-transform: none;
}

.akzidenz_body {
  font-family: 'akzidenz', sans;
  font-weight: normal;
  text-transform: none;
  letter-spacing: .65px;
}

/*==================================
SPACING
==================================*/

.with_text_breaks br {
  @include mobile {
    display: none;
  }
}

/*==================================
ALIGNMENT
==================================*/

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.alignleft {
  display: inline;
  max-width: 50%;
  float: left;
  margin: 0 20px 20px 0;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.alignright {
  display: inline;
  max-width: 50%;
  float: right;
  margin: 0 0 20px 20px;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}