/*==================================
GENERAL STRUCTURE
==================================*/

.main_wrapper {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.small_container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

// Center content within one of the other containers.
// Used on single work posts.

.centered_content_container {
    width: 80%;
    margin: 0 auto;

    @include tablet {
        width: 100%;
    }
}

/*==================================
PANELS
==================================*/

.mas_panel {
    padding: 80px 0;

    @include tablet {
        padding: 60px 0;
    }
}

.mas_panel.medium {
    padding: 100px 0;

    @include tablet {
        padding: 60px 0;
    }
}

.mas_panel.large {
    padding: 200px 0;

    @include tablet {
        padding: 60px 0;
    }
}

// On pages where MAS can define the layout, components should have some extra space between each other.

.acf_component_panel {
    margin-bottom: 50px;

    @include tablet {
        margin-bottom: 20px;
    }

    /* *:last-child {
        margin-bottom: 0;
    } */
}

/*==================================
GRID
==================================*/

.mas_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0 -15px;

    @include tablet {
        margin: 0 -10px;
    }
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
	margin: 0 0 30px;
	padding: 0 15px;
	float: left;
	display: inline-block;

	img {
		display: block;
	}

    @include tablet {
        margin: 0 0 20px;
        padding: 0 10px;
    }

    p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child {
        // margin-bottom: 0px;
    }
}

.flex_vertical_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
    	width: 50%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
    }
}

/*==================================
Layouts
Creation of layout helper classes so we can adjust the grid columns appropriatley.
==================================*/

// Sidebar layout with 1/4 and 3/4 columns

.sidebar_layout .column_1_4 {
    @include tablet_landscape {
        width: 100%;
    }
}

.sidebar_layout .column_3_4 {
    @include tablet_landscape {
        width: 100%;
    }
}

/*==================================
Inspiration Grid ALM Load More
==================================*/

.inspiration_grid .alm-reveal {
    display: flex;
    flex-flow: row wrap;
}