/*==================================
Top Footer w/ Logo
==================================*/

// Only grey background on homepage to match color of IG feed

.home .footer {
    background: $grey;
}

.footer_logo_container {
    bottom: -130px;
    z-index: 0;
    position: relative;

    @include tablet_landscape {
    	bottom: -20px;
    }
}

.footer_logo {
    width: 100%;
}

/*==================================
Main Footer
==================================*/

.main_footer {
	background: $black;
	color: $white;
	padding: 100px 0;
	z-index: 10;

	@include tablet {
		padding: 60px 0;
	}
}

.main_footer a {
	opacity: 1;
	transition: opacity .3s ease-in-out;

	&:hover {
		opacity: .6;
	}
}

/*==================================
Footer Top
==================================*/

.footer_top {
	margin-bottom: 40px;
}

/*==================================
Footer Bottom
==================================*/

.footer_bottom {
    // display: flex;
    // flex-flow: row wrap;
}

// Contact Blocks

ul.footer_contact {
	display: flex;
	flex-flow: row wrap;
	width: 60%;
	margin-bottom: 20px;

	@include tablet_landscape {
		width: 100%;
		// margin-bottom: 20px;
	}
}

ul.footer_contact li {
	width: 33%;
	margin-bottom: 20px;
	padding-right: 20px;

	@include tablet {
		width: 50%;
	}

	@include mobile {
		width: 100%;
	}
}

ul.footer_contact p {
	margin-bottom: 0;
	@include gt-america(regular);
	text-transform: none;
	font-size: 12px;
	line-height: 16px;
}

// Copyright

.footer_copyright {
	width: 100%;
}

.footer_copyright p {
	@include gt-america(regular);
	font-size: 9px;
	line-height: 14px;
	margin-bottom: 0;

	@include mobile {
		font-size: 7px;
		line-height: 10px;
	}
}