/*==================================
Main Header
==================================*/

header.main_header {
    position: fixed;
    width: 100%;
    z-index: 20;
    color: $black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px;
    top: 0;
    transition: all .3s ease-in-out;
    @include gt-america(medium);

    @include tablet {
        padding: 15px;
    }

    &.scrolled {
        padding: 15px;
        background: $black;
        color: $white !important;
    }
}

// Light background pages have a header with black text.

body.light_background header.main_header {
    color: $black;
}

// Dark background pages have a header with white text.

body.dark_background header.main_header {
    color: $white;
}

// If a page has a header image then ensure it atleast starts white
// then using JS in header.js transition the header to black after scrolling past the header image.

body.light_background.has_header_image header.main_header {
    color: $white;
}

body.light_background.has_header_image header.main_header.dark {
    color: $black;
}

.main_header a {
    opacity: 1;
    transition: opacity .3s ease-in-out;

    &:hover {
        opacity: .5;
    }
}

/*=== Main Header Left ===*/

ul.main_header_left li {
    display: inline-block;
    margin-right: 40px;

    @include tablet {
        margin-right: 20px;
    }
}

// Menu Icon

.fly_out_menu_trigger {
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease-in-out;

    &:hover {
        opacity: .5;
    }
}

// Breadcrumb

.breadcrumb_info {
    display: none;
}

/*=== Main Header Right ===*/

// Currently Listening To

.main_header_right {
    display: flex;

    @include tablet_landscape {
        display: none;
    }
}

.currently_listening_to {
    margin-right: 40px;
}

.currently_listening_track {
    cursor: pointer;
    text-transform: none;
    &.playing {
        animation: changeOpacity 1s infinite;
    }
}

@keyframes changeOpacity {
    0% {opacity: .5;}
    100% {opacity: 1;}
}

// Follow w/ hover effect

.follow_link {
    display: flex;
    position: relative;
    transition: padding .3s ease-in-out;
}

.follow_link span {
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.follow_link ul.social_icons {
    margin-right: -100px;
    position: absolute;
    opacity: 0;
    display: flex;
    font-size: 13px;
    transition: all .3s ease-in-out;
}

.follow_link.open {

    padding-right: 80px;

    span {
        opacity: 0;
    }

    ul.social_icons {
        margin-right: 0px;
        opacity: 1;
    }
}

/*==================================
Fly Out Menu
==================================*/

section.fly_out_menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: $black;
    color: $white;
    z-index: 30;
    max-width: 0;
    overflow: hidden;
    transition: all 1s .3s cubic-bezier(.19,1,.22,1);
}

.fly_out_menu_container {
    padding: 30px;
    opacity: 0;
    transform: translateX(-50px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

// Open state

section.fly_out_menu.open {
    max-width: 550px;
    width: 90%;
    transition: all 1s cubic-bezier(.19,1,.22,1);

    .fly_out_menu_container {
        opacity: 1;
        transform: translateX(0px);
        transition: all .5s .5s ease-in-out;
    }
}

// Header w/ Logo and Close Icon

header.fly_out_menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.fly_out_menu_logo {
    display: block;
    width: 230px;

    @include mobile_landscape {
        width: 120px;
    }
}

header.fly_out_menu_header .close_icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $white;
    backface-visibility: hidden;
    transition: all .3s ease-in-out;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before, &::after {
      opacity: .6;
      transform: rotate(0deg);
    }
  }
}

// Navigation

.fly_out_menu_navigation li a {
    opacity: 1;
    transition: opacity .3s ease-in-out;

    &:hover {
        opacity: .6;
    }

}

.fly_out_menu_navigation > li > a {
    font-size: 45px;
    line-height: 53px;

    @include small_window_height {
        font-size: 30px;
        line-height: 40px;
    }

    @include mobile_landscape {
        font-size: 26px;
        line-height: 36px;
    }

    @include mobile_landscape {
        font-size: 24px;
        line-height: 33px;
    }

}

.fly_out_menu_navigation li.current_page_item > a {
    opacity: .6;
}

.fly_out_menu_navigation ul.sub-menu {
    padding-left: 30px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;

    &.open {
        max-height: 1000px;
        opacity: 1;
    }
}

.fly_out_menu_navigation ul.sub-menu li {
    margin-bottom: 13px;
    @include gt-america(medium);
    @include small_window_height {
        margin-bottom: 8px;
    }
    @include mobile_landscape {
        font-size: 9px;
        line-height: 12px;
    }
}

// Address Toggle

.address_toggle {
    @include gt-america(medium);
    text-transform: none;
    @include mobile_landscape {
        font-size: 9px;
        line-height: 12px;
    }
}

.address_toggle ul.tab_items {
    margin-bottom: 5px;
}

.address_toggle ul.tab_items li {
    display: inline-block;
    color: $darkgrey;
    cursor: pointer;
    padding: 0 5px;

    &:first-child {
        padding: 0 5px 0 0;
    }

    &.active {
        color: $white;
    }
}

.address_toggle ul.tab_items span:last-child {
    display: none;
}

/*==================================
Page Opacity Overlay
==================================*/

.page_opacity_overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba($black, .8);
    z-index: -10;
    transition: opacity .5s ease-in-out, z-index .5s .5s ease-in-out;

    &.active {
        opacity: 1;
        z-index: 29;
        transition: opacity .5s .1s ease-in-out, z-index .1s ease-in-out;
    }
}

/*==================================
Mobile Header
==================================*/

header.mobile_header {
    display: none;
    padding: 10px 0;

    @include tablet {
        display: block;
    }
}

header.mobile_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_icon {
    position: relative;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    height: 14px;
    width: 20px;
    display: block;

    &:before {
        content: "";
        width: 100%;
        border-bottom: 2px solid $black;
        position: absolute;
        top: 4px;
    }    
}

/*==================================
Mobile Menu
==================================*/

nav.mobile_navigation ul { 
    position: relative;
    z-index: 8;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    list-style-type: none;
    background: $black;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease-in-out;

    &.open {
        max-height: 500px;
        opacity: 1;
        z-index: 9;
    }
}

nav.mobile_navigation li {
    border-bottom: 1px solid $white;
    padding: 10px 0px;
    font-size: 14px;

    &:last-child {
        border-bottom: 0;
    }
}

nav.mobile_navigation ul li a {
    color: $white;
}