/*==================================
Structure
==================================*/

.page_header {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile_landscape {
        height: 300px;
    }
}

// Sizes

.page_header.full_height {
    height: 100vh;

    @include tablet {
        height: 70vh;
    }
}

.page_header.tall {
    height: 85vh;

    @include tablet {
        height: 70vh;
    }
}

.page_header.narrow {
    height: 40vh;

    @include mobile_landscape {
        height: 60vh;
    }

}

// Overlay

.page_header:before {
    @include overlay($black);
    transition: background 1s ease-in-out;
}

body.reveal_header_image .page_header:before {
    background: rgba($black, .3);
}

// Content Overlay

.header_overlay_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
}

.header_overlay_content h1 {
    margin-bottom: 0;
}