/*==================================
Video w/ Cover Image & Content
==================================*/

.mas_video_container {
  position: relative;
}

// Cover

.video_cover {
  position: absolute;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &:before {
    @include overlay(rgba($black,.6));
  }

  @include tablet {
    display: none;
  }
}

.video_cover .content {
  position: relative;
  text-align: center;
}

.video_cover .play_video {
  cursor: pointer;
  width: 60px;
}

// Plyr Controls
// Need to hide them initially because of our custom play button.

.mas_video_container .plyr__controls {
  visibility: hidden;

  @include tablet {
    visibility: visible;
  }
}

.mas_video_container.show_controls .plyr__controls {
  visibility: visible;
}

/*==================================
Instagram Feed
==================================*/

.instafeed_container {
  display: flex;
  margin: 0 -15px;
}

// Instafeed Item

.instafeed_item_container {
  width: 33.33%;
  padding-bottom: 33.33%;
  height: 0;
  margin: 0 15px 20px;
  position: relative;

  @include mobile_landscape {
    margin: 0 5px 20px;
  }
}

.instafeed_item {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

// Caption

.instafeed_caption {
  background: $black;
  color: $white;
  text-align: left;
  padding: 20px;
  height: 100%;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  @include tablet {
    display: none;
  }
}

// Hover Effect

.instafeed_item:hover .instafeed_caption {
  opacity: 1;
}

/*==================================
Logo Grid
==================================*/

ul.logo_grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -20px;

  @include mobile_landscape {
    margin: 0 -10px;
  }
}

ul.logo_grid li {
  width: 20%;
  padding: 0 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    width: 100%;
  }

  @include mobile_landscape {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
  }

}

/*==================================
Image Gallery
==================================*/

.page .image_gallery img {
  filter: grayscale(100%);
  transition: all .3s ease-in-out;

  &:hover {
    filter: grayscale(0%);
  }
}

.image_gallery {
  .column_1_3 {

  }
}

/*==================================
Ajax Load More
==================================*/

.alm-btn-wrap {
  text-align: center;
}

.alm-btn-wrap .underlined_link.done {
  opacity: .1;
}