/*==================================
General Sliders
==================================*/

// Slider Container
// Hide overflow for smooth height adjustments.

.flexslider {
	overflow: hidden;
    margin-bottom: 20px;
}

.flexslider ul.slides {
	overflow: hidden;
}

.flexslider ul.slides li {
    margin-left: 0;
}

// Gray scale effect

.mas_slider ul.slides li {
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;

    &:hover {
        filter: grayscale(0%);
    }
}

/*==================================
Flexslider Control Nav
==================================*/

.flex-control-nav {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 0;
    z-index: 10;

    @include mobile_landscape {
        bottom: 0;
    }
}

.flexslider .flex-control-paging li a {
    box-shadow: none;
    position: relative;
    border-radius: 0;
    border: 0;
    height: 30px;
    width: 80px;
    opacity: .5;
    background: transparent;

    &.flex-active {
        opacity: 1;
    }

    @include tablet {
        width: 60px;
    }
}

.flexslider .flex-control-paging li a:after {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    background: white;
    width: 100%;
    height: 2px;
}

/*==================================
Caption
==================================*/

p.slider_caption {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    margin-bottom: 0;
    padding: 10px 20px;
    background: rgba($white, .95);

    @include tablet {
        position: relative;
        padding: 10px 0;
    }
}

/*==================================
Header Slider
==================================*/

.flexslider.header_slider {
    margin-bottom: 0;
}

.header_slider ul.slides li {
    height: 60vh;
    background-size: cover;
    background-position: center;

    &:before {
        @include overlay(rgba($black, .3));
    }

    @include mobile_landscape {
        height: 60vh;
    }
}