/*==================================
Mixitup
==================================*/

// Filters 

ul.mixitup_filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 40px;

  @include tablet_landscape {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    margin-bottom: 20px;
    left: 0;
    transition: all .5s ease-in-out;

    &.open {
      max-height: 800px;
      opacity: 1;
    }
  }
}

ul.mixitup_filters li {
  @include gt-america(medium);
  cursor: pointer;
  padding: 0 20px;
  color: $mediumgrey;

  &.mixitup-control-active {
    color: $black;
  }

  @include tablet_landscape {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}

ul.mixitup_filters li:first-child {
  @include tablet_landscape {
    margin: 20px 0 10px;
  }
}

// Mobile Filter

.mobile_mixitup_filter {
  display: none;
  text-align: center;
  position: relative;
  @include gt-america(medium);

  @include tablet_landscape {
    display: block;
  }
}

.mobile_mixitup_filter button {
  font-weight: normal;
  text-transform: uppercase;
}

.mobile_filter_title {
  color: $mediumgrey;
}

.mobile_mixitup_filter li {
  text-transform: lowercase;
}

// Pagination

.mixitup-page-list {
  @include gt-america(medium);
  text-align: center;
  padding: 30px 0;
}

.mixitup-control {
  color: $mediumgrey;
  cursor: pointer;
}

.mixitup-control-active {
  color: $black;
}

.mixitup-control-prev:before {
  content: url('../img/icons/arrow_left_black.svg');
}

.mixitup-control-next:before {
  content: url('../img/icons/arrow_right_black.svg');
}

.mixitup-control-disabled {
  opacity: 0;
}

/*==================================
Grid
==================================*/

.work_item {
  cursor: pointer;
  position: relative;
}

.work_item h4 {
  margin-bottom: 10px;
}

.work_item_image_container {
  position: relative;
  display: block;
}

.work_item img.wp-post-image {
  filter: grayscale(100%);
  margin-bottom: 10px;
  transition: all .3s ease-in-out;
}

// Overlay

.work_item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($white, .3);
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.work_item .overlay img {
  transform: translateY(5px);
  transition: all .5s ease-in-out;
}

.work_item .overlay .arrow {
  width: 60px;
}

.work_item .overlay_content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  @include gt-america(regular);
}

// Hover Effects

.work_item:hover {

  img.wp-post-image {
    filter: grayscale(0%);
  }

  .overlay {
    opacity: 1;
  }

  .overlay img {
    transform: translateY(0px);
  }
}

// Responsive

.work_grid {
  margin-bottom: 30px;
}

.work_grid .column_1_3 {
  @include tablet_landscape {
    width: 50%;
  }
  @include mobile_landscape {
    width: 100%;
  }
}

/*==================================
Expanded View
==================================*/

// Structure

.work_expanded_view_container {
  width: 100%;
  padding: 0 15px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  // When closing the expanded view then fade it out first and then quickly collapse it
  transition: max-height .5s .3s cubic-bezier(.19,1,.22,1), opacity .3s ease-in-out;

  &.open {
    opacity: 1;
    max-height: 3000px;
    transition: max-height 1s ease-in-out;
  }
}

.work_expanded_view {
  background: $white;
  padding-bottom: 15px;
}

// Video

.work_expanded_view_video {
    margin-bottom: 20px;
}

// Content

.work_expanded_view_content h4 {
  margin-bottom: 5px;
}

.copy_to_clipboard {
  text-align: right;
  color: $mediumgrey;
  cursor: pointer;

  @include mobile_landscape {
    text-align: left;
  }
}

// Close

.close_expanded_view {
  text-align: right;
  margin-bottom: 10px;
  cursor: pointer;
}