/*==================================
Elements that can be added to any content area by the NYSS team.
Links, lists, image styling with captions, etc.
==================================*/

.wysiwyg {
  overflow: auto;
}

/*==================================
Fonts
==================================*/

body.dark_background .wysiwyg p {
  -webkit-font-smoothing: auto;
}

/*==================================
Links
==================================*/

// Styled links within content areas

.wysiwig a {
  opacity: 1;
  transition: all .3s ease-in-out;
  
  &:hover {
    opacity: .6;
  }
}

.wysiwyg p > a {
  text-decoration: underline;
}

/*==================================
Lists
==================================*/

// Styled list within content areas

.wysiwyg {
  ul, ol {
    margin: 0 0 20px;
    padding: 0;
    list-style-position: outside;
  }
}

.wysiwyg ul {
  list-style: disc;
}

.wysiwyg ol {
  list-style: decimal;
}

.wysiwyg li {
  margin-left: 1.2em;
}

// Social Icons Adjustments

.wysiwyg ul.social_icons li {
  margin-left: 0px;
}

/*==================================
Tables
==================================*/

.wysiwyg table {
  width: 100% !important;
}

/*==================================
Images
==================================*/

.wysiwyg img {
  // margin-bottom: 20px;
}

/*==================================
Figures
==================================*/

figure {
  margin: 0 0 20px;
}

// Figures that don't have alignment should take up full width of the parent container.

figure.alignnone {
  max-width: 100%;

  img {
    width: 100%;
  }
}

// Captions

figure.wp-caption {
  position: relative;
}

figcaption.wp-caption-text {
  background: rgba($white, .95);
  padding: 10px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  @include tablet {
    position: relative;
    padding: 10px 0;
  }
}

/*==================================
Image Alignment
==================================*/

.alignleft {
  display: inline;
  max-width: 50%;
  float: left;
  margin: 0 20px 20px 0;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.alignright {
  display: inline;
  max-width: 50%;
  float: right;
  margin: 0 0 20px 20px;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}