/*==================================
Structure
==================================*/

.page_content {
    padding: 130px 0 0;

    @include tablet {
    	padding: 60px 0 0;
    }

    @include mobile {
    	padding: 40px 0 0;
    }
}

.content_fade_in {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 1s ease-in-out, transform 1.5s cubic-bezier(.19,1,.22,1);
}

body.loaded .content_fade_in {
	transform: translateY(0px);
	opacity: 1;
}

// If the page has a header image then no top padding on the page content

body.has_header_image .page_content {
	padding: 0;
}

/*==================================
Adjust Page Color Scheme
==================================*/

body.light_background .page_content {
	background: $white;
	color: $black;
}

body.dark_background .page_content {
	background: $black;
	color: $white;
}