/*==================================
Homepage Header
==================================*/

.homepage_header .container {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    @include tablet {
        bottom: -23px;
    }
}

.homepage_header.logo_fade_in .container {
    opacity: 1;
}

.homepage_header img.large_logo {
    width: 100%;
}

// Overlay

.homepage_header:before {
    @include overlay($black);
    opacity: 1;
    transition: opacity 1.5s cubic-bezier(.19,1,.22,1);
}

.homepage_header.overlay_fade_out:before {
    opacity: 0;
}